body {
  background: rgb(0,99,220);
  background: radial-gradient(circle, rgba(0,99,220,1) 0%, rgba(133,40,88,1) 100%); 
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search h1 {
  text-align: center;
  margin: .3125rem auto;
  font-size: 2rem;
}

.search input {
  width: 12.5rem;
  border: .0625rem solid #ccc;
  border-radius: .3125rem;
  padding: .3125rem;
  margin: .3125rem auto;
}

.search button {
  width: 6.25rem;
  border: .0625rem solid #ccc;
  border-radius: .3125rem;
  padding: .3125rem;
  margin: .3125rem auto;
}

.images-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 6.25rem);
  grid-auto-rows: 12.5rem;
  grid-auto-flow: dense;
  gap: .625rem;
}

.item {
  overflow: hidden;
  display: grid;
}
.item img {
  grid-column: 1;
  grid-row: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item-overlay {
  grid-column: 1;
  grid-row: 1;
  position: relative;
  display: grid;
  transition: 0.5s;
  transform: translateX(-100%);
  cursor: pointer;
}
.item-overlay button {
  background: none;
  border: none;
  color: fff;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.3125rem;
  cursor: pointer;
}
.item:hover .item-overlay {
  transform: translateY(0);
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
  cursor: pointer;
}
.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}
.overlay-inner {
  background: black;
  width: 43.75rem;
  padding: 1.25rem;
}
.overlay img {
  width: 100%;
}
